<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Método DEC - Passe no 1º Concurso Público</title>
</head>

<body>
    <!-- BARRA DE URGÊNCIA STICKY -->
    <div class="header-bar">
        ⏳ GARANTA JÁ! Promoção válida até <strong>07/04/2025</strong>
    </div>

    <div class="container">
        <!-- CHAMADA PRINCIPAL -->
        <h1>Como passei no meu 1º concurso e cheguei a ganhar até <span style="color: #ff5a1f;">R$10.000/mês</span>
            tendo apenas
            o ensino médio</h1>

        <p><strong>Saiba como você pode repetir isso usando Método e Organização:</strong></p>

        <!-- LISTA DE BENEFÍCIOS -->
        <ul>
            <li><span class="icone-lista">✔️</span>Adaptado para quem <strong>trabalha</strong> o dia todo;</li>
            <li><span class="icone-lista">✔️</span> Método que me levou a primeira aprovação em <strong>apenas 4 de
                    meses de estudo
                </strong>e</li>
            <li><span class="icone-lista">✔️</span> Me fez conquistar o 🏆 1° Lugar PPI - Concurso CRP-SC 2024
                <strong>(Só
                    tinha uma
                    vaga)</strong>
            </li>
        </ul>

        <!-- PRIMEIRO CTA -->

        <button (click)="scrollToSection()" class="btn-comprar">QUERO MEU CARGO PÚBLICO!</button>

        <!-- PROVA SOCIAL (CONTRA-CHEQUE) -->
        <div class="destaque-contracheque">
            <h3>⏳ PROVA REAL:</h3>
            <p>Segue o print do meu holerite! <strong>Dezembro/2023</strong>: a prova real de como essa estratégia mudou
                minha vida. Agora, quero te ajudar a chegar lá ainda mais rápido – seu nome na lista de aprovados pode
                estar no próximo edital!</p>

            <img src="rendimentos.png" alt="Contracheque R$10.100" style="max-height: 500px;">
        </div>

        <!-- DEPOIMENTOS -->
        <h2>Relatos de quem adquiriu o material:</h2>
        <div class="depoimento-card">
            <img class="prova" src="Prova1.png" alt="" style="width: 300px;">
            <img src="prova2.png" alt="" style="width: 315px;">
        </div>

        <!-- BÔNUS -->
        <h2>Bônus Grátis: Direcionamentos que irão potencializar os seus resultados</h2>
        <ul>
            <li>🎁 <strong>Alimentação na rotina de estudos e no dia da prova:</strong> Dicas da maravilhosa <a
                    href="https://www.instagram.com/nutrialinepacheco/">Nutri Aline Pacheco</a>;</li>
            <li>🎁 <strong>Não existe concorrência:</strong> Te apresento através da realidade dos números;</li>
            <li>🎁 <strong>Como se manter acordado(a)?</strong> Estratégias para amenizar os efeitos do cansaço e
                conseguir estudar.</li>
            <h2>Tudo isso e muito mais!</h2>
        </ul>

        <!-- GARANTIA -->
        <div class="garantia-box">
            <h3>⏳ RISCO ZERO</h3>
            <p><strong>7 dias de garantia</strong> - Se não gostar, devolvemos seu dinheiro + guia grátis!</p>
        </div>

        <!-- CTA FINAL -->
        <div id="sessao2" #sessao style="text-align: center; margin: 30px 0;">
            <h2>Por apenas <span style="color: #ff5a1f; font-size: 28px;">R$57,90</span></h2>
            <p style="margin-bottom: 5px;">ou 12x de R$5,81</p>
            <a href="https://pay.kiwify.com.br/TqBOcNP" class="btn-comprar">GARANTIR MEU ACESSO</a>
            <p style="font-size: 28px; margin-top: 5px; color: rgb(103, 175, 30);"><strong>Pagamento 100%
                    seguro</strong></p>
            <img src="pay.png" alt="" style="width: 300px;">
        </div>
    </div>
</body>

</html>