footer {
  width: 100%;
  background: #141414;
  height: 70px;
  display: flex;
  justify-content: center;
  position: relative;
  color: aliceblue;
  font-size: 12px;
  font-weight: lighter;
}

.footer-cont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  margin-left: 5px;
  font-style: none;
  color: aliceblue;
}
