.sec-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.sec-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 70vh;
  background-color: #4d4d4d;
}

.sec-3 {
  height: 100vh;
  width: 100%;
  background-color: #e4a5a5;
  justify-content: center;
  align-items: center;
}

.banner-img {
  width: 550px;
}

.container-head {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn-cont {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn-pay {
  display: flex;
  justify-content: center;
  background-color: rgb(0, 181, 0);
  border-radius: 30px;
  color: #ffffff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  line-height: 45px;
  margin-top: 26px;
  text-decoration: none;
  display: flex;
  width: 250px;
  box-shadow: 0 0 15px rgba(44, 44, 44, 0.441);
}
.btn-pay:hover {
  background-color: rgb(0, 149, 0);
  transition: 1s ease;
  box-shadow: 0 0 15px rgba(99, 166, 12, 0.79);
}

.copy-1 {
  width: 1000px;
}

@media (max-width: 768px) {
  .banner-img {
    width: 250px;
  }
  .sec-1 {
    margin-top: 50px;
    width: 100%;
    height: 50vh;
  }

  .sec-2 {
    width: 100%;
    height: auto;
  }

  .copy-1 {
    width: 350px;
  }
}
