<main class="wrap">

    <!-- Headline -->
    <section class="section-1">
        <div class="container headline">
            <div class="text-p1">
                <h1>Quer conquistar seu primeiro cargo público, mas se sente perdido(a) com tantas
                    informações?</h1>
            </div>

            <div>
                <p class="lead mt-2 bold"><strong>O que torna esse material tão especial?</strong></p>
            </div>

            <div class="text-p1">
                <p class="lead">Ele não é apenas um guia, <strong>mas um verdadeiro mapa para quem está começando no
                        mundo dos
                        concursos</strong>. Com uma linguagem clara e direta, ele descomplica o caminho e mostra
                    exatamente onde você
                    deve focar para alcançar o sucesso.</p>
            </div>
            <a class="btn-pay" href="">Quero aprender a organizar os meus estudos</a>
        </div>
    </section>

    <!-- Headline end -->

    <!-- Section 2 -->

    <section class="section-2">
        <div class="text-call">
            <h2><strong class="sg-call">Seja sincero(a):</strong> Quantas vezes você já pensou em dar início a essa
                jornada, mas
                desistiu antes mesmo de
                começar <strong class="underline">por não saber como organizar os seus estudos</strong> e nem ter
                <strong>um
                    método</strong> que realmente
                traga <strong>resultados</strong>
                nas provas?
            </h2>
        </div>
    </section>

    <!-- Section 2 end -->

    <section class="section-3">
        <div class="center-image">
            <img class="list-1" src="list-1.png" alt="lista 1">
        </div>
    </section>

    <section class="section-3">
        <div class="center-image">
            <img class="list-1" src="list-2.png" alt="lista 1">
        </div>
    </section>

    <section class="dropdown mb-5">
        <img class="dec-mok mb-3" src="DEC-mok.png" alt="">

        <a class="btn-pay" href="">Quero Descomplicar meus Estudos</a>

    </section>

    <section class="dropdown-container">
        <h1 class="title-drop mb-3">Quais tópicos estão incluídos no guia?</h1>

        <div class="dropdown">
            <div class="btn-group">
                <button type="button" class="dropdown-btn" data-bs-toggle="dropdown" data-bs-display="static"
                    aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                        <path
                            d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                    </svg>
                    Entendendo a jornada:
                </button>
                <div class="text-drop dropdown-menu p-4 text-body-secondary">
                    <p>
                        Descubra exatamente por onde começar e como se preparar para a sua aprovação.
                    </p>
                </div>
            </div>

        </div>

        <div class="dropdown">
            <div class="btn-group mt-3">
                <button type="button" class="dropdown-btn" data-bs-toggle="dropdown" data-bs-display="static"
                    aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                        <path
                            d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                    </svg>
                    Definindo área e concurso:
                </button>
                <div class="text-drop dropdown-menu p-4 text-body-secondary">
                    <p>
                        Escolher a área certa é uma boa parte do caminho. Vou te ensinar a identificar o concurso ideal
                        para o seu perfil e objetivos, evitando perda de tempo e frustrações.

                    </p>
                </div>
            </div>

        </div>

        <div class="dropdown">
            <div class="btn-group mt-3">
                <button type="button" class="dropdown-btn" data-bs-toggle="dropdown" data-bs-display="static"
                    aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                        <path
                            d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                    </svg>
                    Entendendo a prova por completo:
                </button>
                <div class="text-drop dropdown-menu p-4 text-body-secondary">
                    <p>
                        Vou te mostrar como dominar o editar, antecipar os desafios e entender o que a banca espera de
                        você.
                    </p>
                </div>
            </div>
        </div>

        <div class="dropdown">
            <div class="btn-group mt-3">
                <button type="button" class="dropdown-btn" data-bs-toggle="dropdown" data-bs-display="static"
                    aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                        <path
                            d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                    </svg>
                    Estilos de provas:
                </button>
                <div class="text-drop dropdown-menu p-4 text-body-secondary">
                    <p>
                        Cada prova possui a sua particularidade. Aqui, você vai aprender a se adaptar com cada estilo de
                        prova.

                    </p>
                </div>
            </div>
        </div>

        <div class="dropdown">
            <div class="btn-group mt-3">
                <button type="button" class="dropdown-btn" data-bs-toggle="dropdown" data-bs-display="static"
                    aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                        <path
                            d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                    </svg>
                    Métodos de estudos flexíveis:
                </button>
                <div class="text-drop dropdown-menu p-4 text-body-secondary">
                    <p>
                        Estude de uma forma que traga resultados. Compartilho os métodos que me fizeram passar em
                        primeiro lugar, totalmente adaptáveis à sua rotina e realidade.
                    </p>
                </div>
            </div>
        </div>

        <div class="dropdown">
            <div class="btn-group mt-3">
                <button type="button" class="dropdown-btn" data-bs-toggle="dropdown" data-bs-display="static"
                    aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                        <path
                            d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                    </svg>
                    Estudo ativo:
                </button>
                <div class="text-drop dropdown-menu p-4 text-body-secondary">
                    <p>
                        Aprenda a estudar com técnicas que aumentam sua retenção de conteúdo.
                    </p>
                </div>
            </div>
        </div>

        <div class="dropdown">
            <div class="btn-group mt-3">
                <button type="button" class="dropdown-btn" data-bs-toggle="dropdown" data-bs-display="static"
                    aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                        <path
                            d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                    </svg>
                    Estudo reverso:
                </button>
                <div class="text-drop dropdown-menu p-4 text-body-secondary">
                    <p>
                        O segredo que mudou tudo. No documento, você vai descobrir como usar o estudo reverso para se
                        preparar de forma estratégica e eficiente. Detalhes? Veja no material!

                    </p>
                </div>
            </div>
        </div>

        <div class="dropdown">
            <div class="btn-group mt-3">
                <button type="button" class="dropdown-btn" data-bs-toggle="dropdown" data-bs-display="static"
                    aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                        <path
                            d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                    </svg>
                    Revisões e simulados:
                </button>
                <div class="text-drop dropdown-menu p-4 text-body-secondary">
                    <p>
                        A prática que te aproxima da aprovação. Te ensino a criar um esquema de revisões e simulados que
                        te deixarão confiante e preparado(a).

                    </p>
                </div>
            </div>
        </div>

        <section class="dropdown mb-5">
            <a class="btn-pay" href="">Quero destravar os meus estudos</a>
        </section>
    </section>



</main>