<main class="wrap">

    <section class="section-1">
        <div class="container headline">
            <div class="text-p1">
                <h1>Quer conquistar seu primeiro cargo público, mas se sente perdido com tantas
                    informações?</h1>
            </div>

            <div>
                <p class="lead mt-2 bold"><strong>O que torna esse material tão especial?</strong></p>
            </div>

            <div class="text-p1">
                <p class="lead">Ele não é apenas um guia, <strong>mas um verdadeiro mapa para quem está começando no
                        mundo dos
                        concursos</strong>. Com uma linguagem clara e direta, ele descomplica o caminho e mostra
                    exatamente onde você
                    deve focar para alcançar o sucesso.</p>
            </div>
            <a class="btn-pay" href="">Quero aprender a organizar os meus estudos</a>
        </div>
    </section>

    <section class="section-2">
        <div class="text-call">
            <h2><strong class="sg-call">Seja sincero(a):</strong> Quantas vezes você já pensou em dar início a essa
                jornada, mas
                desistiu antes mesmo de
                começar <strong class="underline">por não saber como organizar os seus estudos</strong> e nem ter
                <strong>um
                    método</strong> que realmente
                traga <strong>resultados</strong>
                nas provas?
            </h2>
        </div>
    </section>

    <section class="section-3">
        <div class="title-3">
            <h3>Para quem é o material?</h3>
        </div>

        <div class="list-1">
            <ul class="list-group">
                <li class="list-group-item">
                    <label class="form-check-label" for="firstCheckbox">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-check-square" viewBox="0 0 16 16">
                            <path
                                d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
                            <path
                                d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z" />
                        </svg>
                        Para quem não sabe como encaixar os estudos com
                        a rotina (trabalho desgastante, deslocamento demorado e outros afazeres de uma vida
                        normal).</label>
                </li>
                <li class="list-group-item">
                    <label class="form-check-label" for="secondCheckbox">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-check-square" viewBox="0 0 16 16">
                            <path
                                d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
                            <path
                                d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z" />
                        </svg>
                        Para quem sabe que o tempo é precioso e tem
                        dificuldade em ajustar técnicas de estudos, revisões e simulados.</label>
                </li>
                <li class="list-group-item">
                    <label class="form-check-label" for="thirdCheckbox">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-check-square" viewBox="0 0 16 16">
                            <path
                                d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
                            <path
                                d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z" />
                        </svg>
                        Para quem busca um aprendizado acelerado e
                        retenção eficaz de conteúdo.</label>
                </li>
                <li class="list-group-item">
                    <label class="form-check-label" for="thirdCheckbox">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-check-square" viewBox="0 0 16 16">
                            <path
                                d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
                            <path
                                d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z" />
                        </svg>
                        Para quem quer potencializar a preparação,
                        priorizando o que é mais cobrado.</label>
                </li>
            </ul>
        </div>
    </section>

</main>